# https://EditorConfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.kt]
indent_size = 4
max_line_length = 120
insert_final_newline = true

[*.{yml,yaml}]
indent_size = 2

[*.kt]
ij_kotlin_imports_layout = *,java,javax,org,com
ij_kotlin_align_multiline_parameters = true
ij_kotlin_align_multiline_parameters_in_calls = true
ij_kotlin_package_entry = true
